{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_id %}register_form{% endblock %}
{% block modal_class %}login {% if hide %}modal hide{% endif %}{% endblock %}

{% block form_action %}{% url "register" %}{% endblock %}
{% block autocomplete %}{{ HORIZON_CONFIG.password_autocomplete }}{% endblock %}

{% block modal-body %}
  <fieldset>
    {% include "horizon/common/_form_fields.html" %}
  </fieldset>
{% endblock %}

{% block modal-footer %}
   <a href="{% url "login" %}" class="btn btn-default secondary cancel close" style="float:left">{% trans "Back" %}</a>
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Register" %}" />
{% endblock %}
